{% extends "base.html" %}

{% block title %}Web Academy imageparser project{% endblock title %}

{% block content %}
<div class="container">
<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer">
<div>
<h1>Наши контакты:</h1>
<p>Киев, Смоленская 31/33<p>
<p>(044) 233-15-22 | (068) 233-15-22</p>
<br>
<p>info@web-academy.com.ua</p>
<h3>По вопросам корпоративного обучения:</h3>
<p>b2b@web-academy.com.ua</p>
<br>
<p>(063)233-15-22</p>
<h3>По вопросам онлайн обучения:</h3>
<p>ios_online@web-academy.com.ua</p>
</div>

</header>
</div>
<div class="clear"></div>
<div class="map">
<iframe width="100%" height="290" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://web-academy.com.ua/gmap.php"></iframe>

<div class="clear"></div>

{% endblock content %}